<footer class="footer sm:footer-horizontal text-white p-10 rounded-[30px] bg-accent">
    <aside>
        <img src="~/static/img/Matrix_logo_white.png" alt="Matrix" class="icon-lg">
        <p class="text-3xl">Matrix™</p>
        <p>Providing reliable tech since 2025</p>
    </aside>
</footer>