<footer class="footer sm:footer-horizontal text-white p-10 rounded-[30px] bg-accent">
    <aside>
        <img src="~/img/Matrix_logo_white.png" alt="Matrix" class="icon-lg">
        <p class="text-3xl">Matrix™</p>
        <p>Providing reliable tech since 2025</p>
    </aside>
    @* <nav>
        <h6 class="footer-title">Company</h6>
        <a class="link link-hover">About us</a>
        <a class="link link-hover">Contact</a>
    </nav> *@

</footer>

<script>
    const all_map = {
        company: {
            title: 'Company',
            map: [
                'About us',
                'Contact'
            ]
        },
        site: {
            title: 'Site Map',
            map: [
                '',
                '',
            ]
        }
    }
</script>