@{
    ViewData["Title"] = "Matrix";
}

<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matrix</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components.css" asp-append-version="true" />
</head>

<body class="bg-primary">
    <div id="app" class="flex">
        <partial name="_Menu" />

        <div class="relative flex w-full flex-col gap-4 p-4 pl-0 h-screen overflow-y-auto">
            <main class="text-white">
                @RenderBody()
            </main>
            <partial name="_Footer" />
        </div>

        <!-- Universal Popup Component -->
        @await Component.InvokeAsync("Popup")
    </div>

    <!-- Scripts moved outside of Vue app container -->
    @* <script src="~/lib/jquery/jquery.min.js"></script> *@
    @* 開發環境 (開發版 Vue) *@
    <environment include="Development">
        <script src="~/lib/vue/dist/vue.global.js" asp-append-version="true"></script>
    </environment>
    @* 生產環境 (生產版 Vue) *@
    <environment exclude="Development">
        <script src="~/lib/vue/dist/vue.global.prod.js" asp-append-version="true"></script>
    </environment>
    <script src="~/lib/lucide/dist/umd/lucide.min.js"></script>

    <script src="~/js/hooks/useFormatting.js" asp-append-version="true"></script>
    <script src="~/js/services/AuthService.js" asp-append-version="true"></script>
    <script src="~/js/auth/auth-manager.js" asp-append-version="true"></script>
    <script src="~/js/auth/login-popup.js" asp-append-version="true"></script>

    <script src="~/js/components/menu.js" asp-append-version="true"></script>
    <script src="~/js/pages/profile/profile.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    <!-- Scripts section rendered outside of Vue app -->
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>