@{
    ViewData["Title"] = "Matrix";
}

<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matrix</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components.css" asp-append-version="true" />
</head>

<body class="bg-primary">
    <div id="app" class="flex">
        <partial name="_Menu" />

        <div class="relative flex h-screen w-full flex-col gap-4 overflow-y-auto p-4 pl-0">
            <main class="flex flex-row text-white">
                <!-- 左邊主內容 -->
                <div class="min-w-0 flex-1">
                    @RenderBody()
                </div>
                @if (!ViewBag.IsAuthenticated == true)
                {
                    <!-- 右邊好友列表 -->
                    <div class="w-[300px] shrink-0">

                        <partial name="_FriendsListPartial" model="ViewBag.FriendList" />

                    </div>
                }
            </main>

            <partial name="_Footer" />
        </div>

        <!-- Universal Popup Component -->
        @await Component.InvokeAsync("Popup")
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>

    @* 非開發環境 (標準版) *@
    <environment include="Development">
        <script src="~/lib/vue/dist/vue.global.prod.js" asp-append-version="true"></script>
    </environment>
    @*   開發環境 (精簡版) *@
    <environment exclude="Development">
        <script src="~/lib/vue/dist/vue.global.js" asp-append-version="true"></script>
    </environment>

    <script src="~/lib/lucide/dist/umd/lucide.min.js"></script>

    <script src="~/js/hooks/useFormatting.js" asp-append-version="true"></script>
    <script src="~/js/auth/auth-manager.js" asp-append-version="true"></script>
    <script src="~/js/auth/login-popup.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>