<div id="popup-body">
    <main class="popup-modal" v-if="isOpen">
        <div class="popup-content">
            <!-- 關閉按鈕 -->
            <button @@click="closeCollectModal" class="modal-close-btn">&times;</button>
        </div>
    </main>
</div>

@section Scripts {
    <script>
        
    </script>
}
