@{
    ViewData["Title"] = "Matrix - Control";
    var authInfo = Context.GetAuthInfo();

}

<!DOCTYPE html>
<html lang="@System.Globalization.CultureInfo.CurrentUICulture.Name">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matrix</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components.css" asp-append-version="true" />
</head>

<body class="bg-white">
    <div class="flex">
        <div id="app">
            @await Html.PartialAsync("_Menu")
        </div>


        <div class="relative flex h-screen w-full flex-col gap-4 overflow-y-auto p-4 pl-0">
            <header class="relative">
                <img src="~/static/img/image-top.png" alt="" class="h-56 w-full rounded-[30px] object-cover object-center" >
            </header>
            <main class="min-h-[calc(100%-56px))]">
                <div id="dashboard-content">
                    @RenderBody()
                </div>
            </main>
            <partial name="_Footer" />
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>

    @* 開發環境 (開發版 Vue) *@
    <environment include="Development">
        <script src="~/lib/vue/dist/vue.global.js" asp-append-version="true"></script>
    </environment>
    @* 生產環境 (生產版 Vue) *@
    <environment exclude="Development">
        <script src="~/lib/vue/dist/vue.global.prod.js" asp-append-version="true"></script>
    </environment>

    <script src="~/lib/lucide/dist/umd/lucide.min.js"></script>
    @* <script src="~/js/hooks/useFormatting.js" asp-append-version="true"></script>
    <script src="~/js/components/menu.js" asp-append-version="true"></script> *@
    <script type="module" src="~/lib/cally/dist/cally.js"></script>
    <script type="module" src="~/js/main.js" asp-append-version="true"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
