@section Styles {
    <style>
        .ck.ck-editor__editable[role="textbox"] {
            min-height: 130px !important;
            max-height: 480px !important;
            overflow-y: auto !important;
        }
    </style>
}

<div v-if="!showPostModal" class="fixed top-0 left-0 w-screen h-screen z-50">
    <div class="relative h-full w-full">
        <!-- 遮罩 -->
        <div class="h-full w-full bg-white/30"></div>

        <!-- 編輯發文容器 -->
        <div class="absolute z-[60] top-1/2 left-1/2 -translate-1/2 h-[800px] w-[600px] bg-[#161616] rounded-[30px] overflow-hidden p-6">
            <!-- 使用者 -->
            <div class="flex gap-2 items-center">
                <img :src="" class="h-10 w-10 rounded-full object-cover object-center" />
                <h3 class="text-white subTitle">{{  }}</h3>
            </div>

            <!-- 文字編輯器 -->
            @* <ckeditor /> *@

            <!-- 附件 -->
            <div class="flex gap-2 items-center">
                <div v-for="(img, index) in selectedImages" class="relative shrink-0 overflow-hidden">
                    <img :src="safeURL(img)" :alt="img.name" class="h-20 w-20 rounded-md object-cover" />
                    <button type="button"
                            v-on:click="removeImage(index)"
                            class="absolute top-0 right-0 z-10 rounded-full bg-black/60 p-1 text-white hover:bg-black/80 focus:ring-2">
                        <i data-lucide="x" class="h-5 w-5"></i>
                    </button>
                </div>
            </div>
            <div class="flex gap-2 items-center">
                <div v-for="(file, index) in selectedFiles" :key="index" :title="file.name" class="relative w-[60px] shrink-0 rounded-[12px] bg-white/5 p-1">
                    <button type="button" v-on:click="removeFile(index)" class="absolute top-0 right-0 z-10 rounded-full bg-black/60 p-[2px] text-white hover:bg-black/80 focus:ring-2">
                        <i data-lucide="x" class="h-5 w-5"></i>
                    </button>
                    <div class="flex h-[40px] w-full items-center justify-center rounded-[10px] bg-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path fill="currentColor"
                                  d="m20.41 8.41-4.83-4.83c-.37-.37-.88-.58-1.41-.58H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V9.83c0-.53-.21-1.04-.59-1.42zM7 7h7v2H7V7zm10 10H7v-2h10v2zm0-4H7v-2h10v2z">
                            </path>
                        </svg>
                    </div>
                    <span class="mt-1 block max-w-full text-center break-words para">
                        {{ truncateFilename(file.name) }}
                    </span>
                </div>
            </div>

            <!-- 底部按鈕 -->
            <div class="flex items-center justify-between">
                <div class="flex gap-3">
                    <button type="button" v-on:click="setFileInput('file')">
                        <i data-lucide="paperclip" class="size-8 text-[#a2a2a2] hover:text-[#c2c2c2]"></i>
                    </button>
                    <button type="button" v-on:click="setFileInput('image')">
                        <i data-lucide="image" class="size-8 text-[#ff7f3e] hover:text-[#ff9f66]"></i>
                    </button>
                    <button type="button" v-on:click="openHashtagModal">
                        <i data-lucide="tag" class="size-8 text-[#ffda78] hover:text-[#ffe8a8]"></i>
                    </button>
                </div>
                <button v-on:click="submitPost" class="size-16 flex items-center justify-center rounded-full bg-blue-700  hover:bg-blue-900">
                    <i data-lucide="send-horizontal" class="text-white size-10"></i>
                </button>
            </div>
        </div>
    </div>
</div>

@* JavaScript is now loaded from ~/js/pages/home/create-post.js *@