@{
    ViewData["Title"] = "檢舉管理";
}

<div id="adminReports" class="w-full h-full p-8">
    <template v-if="isLoading">
        <div class="flex h-[50vh] w-full items-center justify-center">
            <div class="flex flex-col items-center gap-4">
                <img src="~/static/img/Loading.gif" alt="Loading" class="h-16 w-16" />
                <span class="text-gray-700">Loading</span>
            </div>
        </div>
    </template>
    <template v-else>

        @* html 內容寫這裡面 *@

    </template>
</div>

@section Scripts {
    <script src="~/js/dashboard/pages/reports/reports.js" asp-append-version="true"></script>
}
