@model List<Matrix.Models.Article>
@{
    ViewData["Title"] = "News";
}

<section class="flex min-h-screen">
    <div id="news_list" class="w-full">
        <div id="hot_news" class="flex gap-4 w-[600px] mx-auto overflow-auto">
            @foreach (var item in ViewBag.HotList)
            {
                <div class="card bg-base-100 image-full min-w-[190px] h-[250px] overflow-hidden shadow-sm">
                    <figure>
                        <img src="" alt="" />
                    </figure>
                    <div class="card-body">
                        <div>
                            <img src="" alt="">
                            <h2 class="card-title">@item.Author</h2>
                        </div>
                        <div class="card-actions justify-end">
                            <p>@item.Content</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div>
            
        </div>
    </div>
    <aside id="friends_list" class="h-screen w-[300px] border">

    </aside>
</section>

@section Scripts {
    <script>
    </script>
}