@layer components {
  .about {
    &-container {
      @apply col-span-7 py-12 min-h-screen;
    }

    &-header {
      @apply text-center mb-12;
    }

    &-title {
      @apply text-4xl font-bold mb-4;
    }

    &-divider {
      @apply w-24 h-1 bg-gradient-to-r from-[#304357] to-stone-500 mx-auto mb-6;
    }
  }

  .team {
    &-list {
      @apply transition-all duration-500 ease-out
        px-3 w-full flex justify-center overflow-hidden
        gap-2 sm:gap-2 2xl:gap-8;
      scroll-behavior: smooth;
      overflow-anchor: none;
    }

    &-card {
      @apply rounded-[30px] border border-white/20 flex
        bg-gradient-to-br from-blue-400/15 to-stone-900/80 backdrop-blur-lg shadow-2xl
        relative z-[1] cursor-pointer overflow-x-visible overflow-y-hidden
        transition-all duration-500 ease-out
        flex-grow-0 flex-shrink-0 basis-[calc(100%/6)] /* 六等份寬度 */
        sm:scale-[80%] sm:basis-[calc(90%/6)] 2xl:scale-100 2xl:basis-[calc(100%/6)];
    }

    &-img {
      @apply h-full flex flex-col gap-4 rounded-l-[30px] transition-all duration-500 ease-out
        flex-grow-0 flex-shrink-0 basis-full;

      img {
        @apply h-[400px] object-cover transition-none select-none rounded-[20px] m-4;
        pointer-events: none;
        -webkit-user-drag: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }
    }

    &-info {
      @apply flex flex-col gap-2 items-center justify-center h-1/3 mb-8;
    }

    &-section {
      @apply flex flex-col gap-4 opacity-0 text-white size-0 p-0 overflow-x-visible overflow-hidden transition-all duration-500 ease-out
        flex-grow-0 flex-shrink-0 basis-0;
    }

    &-card.expanded {
      @apply z-10 flex-grow-0 flex-shrink-0 basis-[calc(80%/2)] min-w-[600px] 2xl:min-w-auto;

      .team-img {
        @apply w-[40%] flex-grow-0 flex-shrink-0 basis-[40%];
      }

      .team-section {
        @apply p-8 opacity-100 overflow-hidden h-auto flex-grow-0 flex-shrink-0 basis-[60%];
      }
    }

    &-card.expanded {
      @apply transform-none;
    }

    &-name {
      @apply text-2xl font-bold;
    }

    &-level {
      @apply text-base;
    }

    &-links {
      @apply flex gap-4 items-center;
    }

    &-link {
      @apply flex items-center justify-center bg-white text-secondary rounded-full p-1;
    }

    &-icon {
      @apply size-5;
    }

    &-skills {
      @apply flex flex-wrap gap-4 w-full flex-shrink-0;
    }

    &-skill {
      @apply rounded-full px-2 py-1 bg-stone-500 text-white flex items-center justify-center min-w-max whitespace-nowrap;

      &-text {
        @apply m-0 p-0 text-sm;
      }
    }

    &-works {
      @apply gap-2 gap-x-8 flex-shrink-0;

      &_layout {
        @apply flex gap-4 border border-stone-400 p-4 rounded-[20px] shadow-md shadow-black/70;

        .green-dot {
          @apply border-4 border-green-600 bg-green-400 shadow-green-500 size-4 rounded-full my-1 flex-shrink-0;
        }
      }
    }

    &-work {
      &-item {
        @apply flex gap-2 items-center whitespace-nowrap;
      }

      &-icon {
        @apply size-5 text-green-500 flex-shrink-0;
      }
    }
  }
}
