@import "tailwindcss" source(none);
@source "../../Views/**/*.{cshtml,html,php,erb}";
@plugin "../lib/daisyui/daisyui.js";

/* Optional for custom themes – Docs: https://daisyui.com/docs/themes/#how-to-add-a-new-custom-theme */
@plugin "../lib/daisyui/daisyui-theme.js" {
  /* custom theme here */
  name: "Default";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #161616;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #162534;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #323232;
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(98% 0.003 247.858);
  --color-neutral-content: oklch(21% 0.006 285.885);
  --color-info: #2a629a;
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: #4cd964;
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: #ffda78;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #ff7f3e;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
}

.cts-btn {
  @apply min-h-9 flex items-center gap-6 p-4 rounded-xl cursor-pointer relative
  active:bg-inherit active:shadow-none
  ;
}

.icon-base {
  @apply h-8 w-12 object-contain;
}

.icon-lg {
  @apply h-12 w-12 object-contain;
}

@import "./_Layout.css";
@import "./Error.css";

/* [v-cloak] {
  display: none;
} */